.Rproj.user
.Rhistory
.RData
.Rdata
.httr-oauth
.DS_Store
*.html
*_cache
synop.*.gz
*.rds
*.js
*.css
raw_data/**
Untitled/**
vignettes/*.log
vignettes/*.aux
vignettes/*.out
vignettes/*.toc
rsconnect/**
vignettes/LM_temporal_analysis_article.Rmd